<p style="color: green"><%= notice %></p>

<%= render @order_main %>

<div>
  <%= link_to "Edit this order main", edit_order_main_path(@order_main) %> |
  <%= link_to "Back to order mains", order_mains_path %>

  <%= button_to "Destroy this order main", @order_main, method: :delete %>
</div>
